.user-menu-item {
  align-items: center;
  color: #ddd;
  display: flex;
  font-size: 1.12rem;
  padding: 0rem 1.4rem;
  width: 100%;

  &:active {
    background-color: rgba(32, 32, 32, 1)
  }
}

@media (hover: hover) {
  .user-menu-item:hover {
    background-color: rgba(64, 64, 64, 1);
  }
}