.menu-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

  &:hover {
    cursor: pointer;
    background-color: rgba(48, 48, 48, 1);

    & .line {
      background-color: rgba(240, 240, 240, 1);
    }
  }

  &.is-active {
    background-color: rgba(48, 48, 48, 1);

    & .line {
      background-color: rgba(240, 240, 240, 1);
    }
  }
}

.menu-button {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  height: 2rem;
  width: 2rem;
  z-index: 10;
}

.line {
  background-color: rgba(248, 64, 64, 0.8);
  border-radius: 10px;
  height: 0.25rem;
  width: 2rem;
  transform-origin: 1px;
  transition: all .3s linear;
}

.vertical-menu-dropdown {
  background-color: rgba(48, 48, 48, 1);
  display: grid;
  height: 100%;
  left: 0px;
  opacity: 0;
  position: fixed;
  top: 4rem;
  visibility: hidden;
  width: 100%;

  &.is-open {
    opacity: 1;
    visibility: visible;
  }
}

.menu-dropdown-content {
  width: 100%;
}

.menu-section {
  padding: .6rem 0;
  text-align: left;

  & ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  & li {
    user-select: none;
    width: 100%;
  }

  & a {
    align-items: center;
    color: #ddd;
    display: flex;
    padding: .4rem 1.6rem;
    width: 100%;

    &:hover {
      background-color: rgba(64, 64, 64, 1);
    }

    &:active {
      background-color: rgba(32, 32, 32, 1)
    }
  }
}

.menu-section-title {
  color: #aaa;
  display: block;
  font-size: 1rem;
  font-weight: 600;
  padding: 0rem .8rem .4rem .8rem;
}