.carousel {
  align-items: center;
  display: flex;
  gap: 1rem;
  height: 100%;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  width: calc(100vw - 1.6rem);
}

.carousel-item {
  scroll-snap-align: start;

  & img {
    height: 20rem;
  }
}

.carousel-item-info {

  & h3 {
    font-size: 1rem;
    margin: 0 0 .6rem;
  }
}